/* styles.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#calendar {
    width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
    margin-top: 20px;
}

.day {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin: 5px;
  min-height: 50px;
}

.green {
  background-color: lightgreen;
}
/* styles.css */

/* Agrega estas clases de colores de fondo */
.red-background {
  background-color: red;
}

.orange-background {
  background-color: orange;
}

.green-background {
  background-color: lightgreen;
}


  div {
    margin-bottom: 3px;
  }

.bot {
  padding: 9px;
  border-radius: 12px;
  border: none;
  z-index: 2;
  display: block;
  box-shadow: 2px 5px 3px 0 #0000004d;
}
.bot:hover {
  background: rgba(255,255,255,0.2);
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  transform: translateY(-2px);
}.bot {
  background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    color: #000;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin: auto;
}

.bot:hover {
  background: rgba(255,255,255,0.2);
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  transform: translateY(-2px);
}
