body {
  font-family: sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
}
button {
  background: rgba(255,255,255,0.3);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

button:hover {
  background: rgba(255,255,255,0.2);
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  transform: translateY(-2px);
}button {
  background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    color: #000;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 265px;
}

button:hover {
  background: rgba(255,255,255,0.2);
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  transform: translateY(-2px);
}

.modal{
  margin-left: 12px;
    width: 30%;
    padding: 12px;
}

.GR {
  max-width: 300px;
  max-height: 300px;
}

p {
  font-size: 20px;
}