body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: -webkit-center;
  display: flex
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 500px;
  margin-right: 12px;
}

.calculator2 {
    /* display: grid; */
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    /* height: 500px; */
    margin-right: 12px;
}

.input {
    grid-column: span 4;
    padding: 10px;
    font-size: 24px;
}

button {
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
}

button:hover {
    background-color: #ccc;
}

.result {
    margin-top: 20px;
    font-size: 24px;
}