#loadingImage {
    display: none;
    position: fixed;
    top: 115px;
    right: -5px;
    transform: translate(-50%, -50%);
    width: 80px;
    }

.zero {
  font-size: 15px;
}

.btadd {
  color: white;
  background-color: red;
}