body {
  margin: 0;
  overflow: hidden;
}

#container {
  position: relative;
}

img {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s ease-in-out;
  opacity: 1;
}

#image2 {
  opacity: 0;
}

#image3 {
  animation: rotate 4s linear infinite; /* Ajusta el valor de 4s según sea necesario para la velocidad de rotación */
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}