body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 97vh;
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
    }

    .login-container {
      max-width: 400px;
      width: 100%;
      padding: 20px;
      background: #f0f0f0;
      border-radius: 20px;
      box-shadow: 10px 10px 20px #b7b7b7, -10px -10px 20px #ffffff;
    }

    .login-form {
      text-align: center;
    }

    .login-form label {
      display: block;
      margin-bottom: 6px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
      width: 94%;
      text-align: center;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 10px;
      background-color: #f0f0f0;
      box-shadow: inset -1px 3px 12px #b7b7b7, inset -6px -6px 12px #ffffff;
      font-size: 16px;
      transition: box-shadow 0.3s ease;
    }

    .login-form input[type="text"]:focus,
    .login-form input[type="password"]:focus {
      outline: none;
      box-shadow: inset 4px 4px 8px #b7b7b7, inset -4px -4px 8px #ffffff;
    }

    .login-form input[type="submit"] {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: #4CAF50; /* Verde */
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      animation: color-change 2s infinite alternate; /* Animación */
    }

    @keyframes color-change {
      0% {
        background-color: #1290ab; /* Verde claro */
      }
      100% {
        background-color: green; /* Verde oscuro */
      }
    }

    .login-form input[type="submit"]:hover {
      animation-play-state: paused;
      background-color: #005cb2;
    }

    .placeholder-animate input[type="text"]::placeholder,
    .placeholder-animate input[type="password"]::placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    .placeholder-animate input[type="text"]:focus::placeholder,
    .placeholder-animate input[type="password"]:focus::placeholder {
      opacity: 0;
    }

    .logo-container {
      text-align: center;
      margin-bottom: 20px;
    }

    .logo {
      width: 100px;
      height: 100px;
      margin: auto;
      border-radius: 50%;
      background: #f0f0f0;
      box-shadow: 8px 8px 16px #b7b7b7, -8px -8px 16px #ffffff;
    }

    .iframe-container {
      width: 100%;
      height: 100%;
      overflow-y: hidden;
    }

    .hidden {
      display: none;
    }